<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImageProcessor" version="2.5.4" targetFramework="net452" />
  <package id="ImageProcessor.Plugins.Cair" version="1.0.2.0" targetFramework="net452" />
  <package id="ImageProcessor.Plugins.WebP" version="1.0.5.0" targetFramework="net452" />
  <package id="MimeTypeMap.List" version="1.1.0" targetFramework="net452" />
</packages>